[init]
	defaultBranch = main
[user]
	name = C. J. Tantay
	email = cjbtantay@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGKC16qHpL1GFPdV5sBfgC+UvWcs/UDHq9FLjwQFkz0v

[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
