[user]
	name = C. J. Tantay
  email = me@cjtantay.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGKC16qHpL1GFPdV5sBfgC+UvWcs/UDHq9FLjwQFkz0v
[pull]
	rebase = true
[fetch]
	prune = true
	pruneTags = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[core]
  editor = code
  excludesfile = ~/.gitignore